<a href="https://colab.research.google.com/github/Arasirwa/DSFT-13-Phase-0/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Inputs, Datatypes, Definitions

In order to create your own notebook, Go to File > save a copy in Drive

A “Hello, world!” program is traditionally used to introduce novice programmers to a programming language.  is also traditionally used in a sanity test to make sure that a computer language is correctly installed, and that the operator understands how to use it.
In this notebook, we shall go through datatypes, variables and deifinitions of concepts in Python which will assist in understanding the code and programming language.

In [ ]:
print('Hello, Coding World!')

Hello, Coding World!

In [ ]:
name = input('What is your name?')
age = input(' and age? ')

print(name, 'is', age,'years old')

What is your name?Noah
 and age? 5
Noah is 5 years old

In [ ]:
print(name)
age

Noah

'5'

In [ ]:
"""
docstrings
variable -
element
entity
rows/ records/instances/ axis= 0
columns/fields/features/variables/ axis =1

"""

'\ndocstrings\nvariable -\nelement\nentity\nrows/ records/instances/ axis= 0\ncolumns/fields/features/variables/ axis =1\n\n'

In [ ]:
# this is a comment
age

'5'

# Input and Print

Python **print()** function prints the message to the screen or any other standard output device.

Using # to write comments. These comments help programmers explain code and write notes on a cell.

A cell is a block of code or text which are sections in a notebook.

Variables are containers which store values (numeric, string, list, etc)

In [ ]:
x = input('What is your name?')

print('My name is '+ x)

What is your name?Noah
My name is Noah

In [ ]:
# print( when called, simply throws the cursor to the next line.
# It means a blank line will be displayed

print(type(True))     #hjgjk
print(type(66.5))

<class 'bool'>
<class 'float'>

In [ ]:
# String literals in python’s print statement are primarily used to format or design how a specific string appears when printed using the print() function.

# \n : This string literal is used to add a new blank line while printing a statement.
# “” : An empty quote (“”) is used to print an empty line.

print('\n')
print()

In [ ]:
# Printing an empty line
print('b')
print('\n')
print('b')

b


b

In [ ]:
# We shall store values in x

x = 6
print(x)

6

In [ ]:
# Variable (age) assignment  (value =27)
age = 27

age

27

In [ ]:
# We can print strings. These can be used to add additional comments and informations
print('Python is easy')

Python is easy

In [ ]:
# Lets print 'I am studying python' below

print('I am studying python')

My name is noah

In [ ]:
print(8)

8

Input: They allow for user unput  using **input()** function

In [ ]:
input()

yyy

'yyy'

In [ ]:
# Input your age
age = input('Enter your age: ')
print(age)

Enter your age: 66
66

In [ ]:
# we can input and add data
no1 = input('Number 1 = ')
no2 = input('Number 2 = ')

Number 1 = 100
Number 2 = 50

In [ ]:
int(no1)/int(no2)

2.0

In [ ]:
input(6)

65

'5'

In [ ]:
# We can combine user input and output
print('My name is ',input('What is your name? '))

print('\n')

# # or alternatively
# guvnor = input('Who is Nairobi county governor? ')
# print('HE',str(guvnor) +' is the Nairobi governor')

What is your name? 666
 v My name is  666

In [ ]:
int
str
float

float

In [ ]:
x = int('667')
type(x)

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-23-0046be883be9>, line 2)

In [ ]:
guvnor = input('Who is Nairobi county governor? ')
print('HE',str(guvnor) ,' is the Nairobi governor')

Who is Nairobi county governor? hah
HE hah  is the Nairobi governor

In [ ]:
print('H.E.'+ guvnor +' is the Nairobi governor')

H.E.hah is the Nairobi governor

In [ ]:
6# Lets practise them.
r = input('r= ')
z = input('z= ')
print()
print(r<z and z<r)
print(r==z or z<r)
print(not(r<z))

r= 5
z= 6

False
False
False

Exercises

In [ ]:
# Greater or equal to
# Is 208 greater or equal to 190?
print(208>=190)

True

# Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.
Anytime words (text) are written in Python, you're using character strings (strings for short).

Examples of data types include:
*   Text Type:	str
*   Numeric Types:	int, float, complex
*   Sequence Types:	list, tuple, range
*   Mapping Type:	dict
*   Set Types:	set, frozenset
*   Boolean Type:	bool
*   Binary Types:	bytes, bytearray, memoryview
*   None Type:	NoneType

## Getting data type
You can get the data type of any object by using the **type()** function

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Print the data type of the variable x
# Integer type
x = int('10')


type(x)

int

In [ ]:
# Float type
type(6/3)

float

In [ ]:
# String type
type('This is marys book')

str

In [ ]:
# Run this cell and check its output
#
# a = "Learning Data Science is Easy"
a = 3
type(a)

int

In [ ]:
type(4)

int

In [ ]:
y = float('4')
type(y)

float

In [ ]:
list1 = {"a","b",5}

type(list1)

set

## Data type conversion
If you want to specify the data type, we can use the following constructor functions;

**str(), int(), float(), list(), complex(), dict(), set(), bool(), range(), tuple()** among others

However, we can lose information or introduce errors to code. Converting float to integer will lose its decimal value, while converting a string to integer will not be valid. (i.e. float 23.1762 will be 23)

### To integer

In [ ]:
xy = '6718919'

type(xy)

str

In [ ]:
zz = int(xy)

type(zz)

int

In [ ]:
int(82.6)

82

In [ ]:
int('12872')

2574.4

In [ ]:
int('string')

ValueError: invalid literal for int() with base 10: 'string'

### To float

float()

In [ ]:
type(7)

int

In [ ]:
float(7)

7.0

In [ ]:
# Change integer to float
x = 9
print(type(x))

# Uncomment the code below
xx = float(x)
print(type(xx))

<class 'int'>
<class 'float'>

In [ ]:
# average_number = 45.2 people
int(45.2)

45

### To string

In [ ]:
# Convert integer to string
str(9272)

'9272'

In [ ]:
str(87/12)

'7.25'

In [ ]:
type(True)

bool

In [ ]:
# We can convert Boolean to string
type(str(True))

str()

''

### Boolean

We can cast boolean to datatypes. If the value is True, we will get 1, while False = 0

In [ ]:
int(True),int(False)

(1, 0)

In [ ]:
bool(0)

False

In [ ]:
bool('jaha')

True

In [ ]:
bool('')

False

# Collections

In [ ]:
1+1

2

####List
A list is a collection which is ordered and changeable. They are written with [  ].

They can contain different datatypes like integers, strings, objects. They are mutable and do not need to be homogeneous and can contain duplicates.

In [ ]:
# Create a list
fruits = ['guava','apple',"pear",'pineapple',"banana",'mango']
# print('list =', fruits)

fruits[0:2]

list = ['guava', 'apple', 'pear', 5, 'pineapple', 'banana', 'mango']

['guava', 'apple']

In [ ]:
sports = ['football','rugby','tennis','squash',98]
print('list 2 = ',sports)

list 2 =  ['football', 'rugby', 'tennis', 'squash', 98]

In [ ]:
clubs = ['Arsenal','Chelsea','Man Utd', 'Liverpool','Man City']
clubs

['Arsenal', 'Chelsea', 'Man Utd', 'Liverpool', 'Man City']

In [ ]:
# Add variables to create your custom list
my_list = ['add your variables']
print(my_list)

['add your variables']

In [ ]:
#  An empty list contains no variables
print([])

[]

In [ ]:
#  We can add items by using append() and extend()
fruits.append('orange')
print(fruits)

['guava', 'apple', 'pear', 'pineapple', 'banana', 'mango', 'orange']

In [ ]:
sports.extend(['100 m','Formula 1'])
print(sports)

['football', 'rugby', 'tennis', 'squash', 98, '100 m', 'Formula 1']

We can add and update elements in a list by its index, remember Python indexes start with 0.

In [ ]:
sports

['football', 'rugby', 'tennis', 'squash', 98, '100 m', 'Formula 1']

In [ ]:
# Add a sport in the sports list, first item
sports[-1] = 'softball'
sports

['football', 'rugby', 'tennis', 'squash', 98, '100 m', 'softball']

In [ ]:
# Add a sport in the fruits list, third item
fruits[2] = 'quava'
fruits

['guava', 'apple', 'quava', 'pineapple', 'banana', 'mango', 'orange']

In [ ]:
# Add your favourite football club, second item
sports[1] = 'my team'
sports

['football', 'my team', 'tennis', 'squash', 98, '100 m', 'softball']

We can access elements using an integer index

In [ ]:
sports[3]

'squash'

In [ ]:
clubs

['Arsenal', 'Chelsea', 'Man Utd', 'Liverpool', 'Man City']

In [ ]:
#  we can access the list and add an output string to make sense of a list
print(clubs[-1],'is big')

Man City is big

In [ ]:
# To get a range of elements we use
# Get first two elements in the list

clubs[0:3]

['Arsenal', 'Chelsea', 'Man Utd']

In [ ]:
# Len returns the number of elements

len(clubs)

5

In [ ]:
# Get the last item in list
clubs[-1]

'Man City'

We can remove items from a list as shown below

In [ ]:
# Let us remove rugby from the sports list
sports.remove('softball')
sports

['football', 'my team', 'tennis', 'squash', 98, '100 m']

In [ ]:
#  Let us delete fourth item from clubs list
del sports[3]
sports

['football', 'my team', 'tennis', 98, '100 m']

In [ ]:
#  Let us delete nth item from your custom list
del my_list[0] # replace 0 with n
my_list

[]

Let us print items in a list based on their indexes. This can subset a list by slicing the list

In [ ]:
# We can print the items from the 3rd item till the end by slicing and printing them as shown;

fruits_2 = fruits[2:]
print(fruits_2)

['quava', 'pineapple', 'banana', 'mango', 'orange']

In [ ]:
# We can print items from beginning of the list to the third element in the
# football club list as shown;
#
klab = clubs[:-2]
print(klab)

['Arsenal', 'Chelsea', 'Man Utd']

####Tuple
A tuple is similar to list except that objects in a tuple are immutable and cannot be changed once assigned.
Iteratively, it is computationaly cheap as compared to a list. Since tuples are indexed, they can have items with the same value

In [ ]:
# A tuple can be empty
tuple1 = ()
print(tuple1)

()

In [ ]:
# Creating a tuple with variables
tuple_2 = ('rat','mouse','rabbit')
print(tuple_2)

('rat', 'mouse', 'rabbit')

In [ ]:
# Create a tuple of foodstuff
food = ('ugali','rice','potato','sukuma')

type(food)

tuple

In [ ]:
# Lets check the datatype of the tuple
type(food)

tuple

In [ ]:
# A tuple is heterogenous and can contain different data types
xyz = ("anelisa is ",[12,19,29])
print(xyz)

('anelisa is ', [12, 19, 29])

#### Set
A set is a collection which is unordered, unchangeable, and unindexed.. Sets are used to store multiple items in a single variable.  Sets cannot have two items with the same value

In [ ]:
this_set = {"sprite",'coke','krest','fanta'}
print(this_set)

{'krest', 'sprite', 'fanta', 'coke'}

In [ ]:
# A set with strings, integers and boolean values
set1 = {"abc", 34, False, 40, "horse"}
print(set1)

{False, 34, 40, 'abc', 'horse'}

#### Dictionary
It is a collection of pairs which is unordered, changeable, and indexed. Written with curly brackets and have keys and values

In [ ]:
# Example 1
gari = {
    'brand':'Toyota Corolla',
    'colour': 'white',
    'year' : "1998"
}

gari

{'brand': 'Toyota Corolla', 'colour': 'white', 'year': '1998'}

In [ ]:
# Example 2
bio = {
    'Name':'Mwanga',
    'gender': 'female',
    'age' : 25,
    'height' : '120 cm',
    'weight' : 52
}

bio

{'Name': 'Mwanga',
 'gender': 'female',
 'age': 25,
 'height': '120 cm',
 'weight': 52}

In [ ]:
# example 3
phone = {
    'brand':'Infinix',
    'RAM': '4gb'
}

phone

{'brand': 'Infinix', 'RAM': '4gb'}

In [ ]:
# Create a dictionary of the names of your father, mother, brother and sister

In [ ]:
# Create a dictionary of your school names; (primary, secondary and tertiary)

In [ ]:
# You can store a dictionary within a dictionary

# The dictionary contains colours of the shoes, type of dresses and
# jacket types in a clothes box
clothes = {
    'shoes':{
        'vans':'blue',
        'nike jordans': 'red',
        'adidas originals': 'black'
        },
    'dress':{
            'uniform':'stripes',
            'church':'flowery',
            'business': 'polka'
        },
    'jackets':{
        'khaki':'long',
        'jean':'torn',
        'cotton':'sleeveless'
    }



}

clothes

{'shoes': {'vans': 'blue', 'nike jordans': 'red', 'adidas originals': 'black'},
 'dress': {'uniform': 'stripes', 'church': 'flowery', 'business': 'polka'},
 'jackets': {'khaki': 'long', 'jean': 'torn', 'cotton': 'sleeveless'}}

Adding elements to a dictionary

In [ ]:
# Lets add engine type to our car dictionary

gari['engine']= 'V6'
gari

{'brand': 'Toyota', 'colour': 'white', 'year': '1998', 'engine': 'V6'}

In [ ]:
# Lets add the phone colour to our phone dictionary
phone['colour'] = 'Red'
print(phone)

{'brand': 'Infinix', 'RAM': '4gb', 'colour': 'Red'}

In [ ]:
# Lets add our nephews name in the family dictionary

Access items from a dictionary

In [ ]:
# Access items from phone dictionary
phone_colour = phone['colour']

print(phone_colour)

Red

In [ ]:
# Get the engine type of a our car dictionary

gari_e = gari.get('engine')
gari_e

'V6'

In [ ]:
# Try to retrieve the shoes dictionary in the clothes dictionary
shoe = clothes.get('shoes')
print(shoe)

{'vans': 'blue', 'nike': 'red', 'adidas originals': 'black'}

In [ ]:
x = 13
print(type(x))

<class 'int'>

Remove elements from a dictionary
We can remove specific items from dictionary using **pop()** and clear contents of the dictionary using **clear()**

In [ ]:
# Remove age from bio dictionary
bio_2 = bio.pop('age')
print(bio)
print(bio_2)

{'Name': 'Mwanga', 'gender': 'female', 'height': '120 cm', 'weight': 52}
25

In [ ]:
# lets clear contents in shoe dictionary
shoe.clear()
shoe

{}